.tile {
  background-color: rgb(209, 209, 209);
  border-radius: 0.4rem;
  height: 3.6rem;
  width: 3.6rem;
}

.tile:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tile.lit {
  background-color: rgb(43, 106, 243);
}