.tile {
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: .6rem;
  height: 4rem;
  transition: all 0.3s;
  width: 4rem;
}

.tile:hover {
  background-color: rgba(245, 245, 245, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}

.tile.lit {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 4rem rgba(245, 245, 245, 0.4);
  transition: all 0.3s;
}